<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJJDpO0vh6AYjtcuhTPv1qLf9v4bn5Rog</string>
	<key>GCM_SENDER_ID</key>
	<string>131867207635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nltdev.winemates.dev</string>
	<key>PROJECT_ID</key>
	<string>wine-mates</string>
	<key>STORAGE_BUCKET</key>
	<string>wine-mates.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131867207635:ios:5ce5c0564f66bca3717126</string>
</dict>
</plist>